body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #745346;
}

.container {
    display: block;
    width: 400px;
    height: 370px;
    margin: 200px auto;
    padding: 15px;
    text-align: center;
    background-color: #99765F; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 5px solid #4b301e;
    border-radius: 15px;
}

.Title {
    margin-left: 25%;
    width: 50%;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    border-bottom: 5px solid #4b301e;
}

.form {
    text-align: left;
}

label {
    display: block;
    margin-left: 20%;
    margin-top: 10px;
    font-weight: bold;
    color: #4b301e;
}

input{
    display: block;
    width: 62%;
    padding: 8px;
    margin: 5px auto 15px auto;
    color: #684c30;
    background-color: #FFF4E6;
    border: 0px solid #cccccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input::placeholder{
    color: #684c30;
}

.btn {
    display: block;
    font-size: 18px;
    width: 35%;
    padding: 10px;
    margin: 30px auto 0 auto;
    background-color: #5E3B23;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px;
}